
<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/clientes/form']">Crear Cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la BD!!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
          <!-- <th>#</th> -->
          <th>nombre</th>
          <th>apellido</th>
          <th>email</th>
          <th>fecha</th>
          <th>Crear factura</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">
              editar
          </th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">
              eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td *ngIf="authService.hasRole('ROLE_USER')">
          <!-- <td> -->
            <img (click)="abrirModal(cliente)"
                  *ngIf="cliente?.foto"
                  src="{{urlBackend}}/api/uploads/img/{{cliente.foto}}"
                  alt="{{cliente.foto}}"
                  class="img-thumbnail rounded"
                  style="width:64px; cursor:pointer;"
            >
            <img (click)="abrirModal(cliente)"
                  *ngIf="!cliente?.foto"
                  src="{{urlBackend}}/images/no-usuario.png"
                  alt="Sin foto"
                  class="img-thumbnail rounded"
                  style="width:64px; cursor:pointer;"
            >
            <!-- <button type="button" (click)="abrirModal(cliente)"  class="btn btn-success btn-sm">{{cliente.id}}</button> -->
            <!-- [routerLink]="['/clientes/ver',cliente.id]" -->
          </td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt | date: "EEE dd, MMMM yyyy"}}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button class="btn btn-success btn-sm" type="button"  [routerLink]="['/facturas/form',cliente.id]">Crear Factura</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="button" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="button" (click)='delete(cliente)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginador" [paginador]="paginador">
    </paginator-nav>
  </div>
</div>
